conway/__a
conway/target/
default.csv
default.json
conway/myJSON.json
conway/time_Test.csv
conway/time_Test.json
aggrega*.csv
master_*.csv
master-*.csv
testing/javaConway_002
conway/data/combinedData/
conway/data/combinedData_aggrega*.csv
conway/data/combinedData_master_*.csv
