conway/data/test2/
conway/data/test3/
conway/data/test4/
conway/data/test5/
conway/data/test6/
conway/data/test7/
conway/data/test8/
conway/data/test9/
conway/data/test10/
conway/data/combinedData/
conway/target/
default.csv
default.json
conway/myJSON.json
conway/time_Test.csv
conway/time_Test.json
aggrega*.csv
master_*.csv
master-*.csv
master_*.json
